{% extends 'boilerplate.html' %}
{% load i18n %}

{% comment %}
{% block css %}{% include_media 'base.css' %}{% endblock %}
{% endcomment %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block title %}Climate Goggles{% endblock %}

{% block header %}
<header>
<h1><a href="{% url home %}" title="Climate Goggles">Climate Goggles</a></h1>
</header>
{% endblock %}

{% block navigation %}{% endblock %}

{% block footer %}
<footer>
<p><a href="http://www.rhok.org/solutions/climate-goggles">{% trans "Solution" %}</a> for <a href="http://www.rhok.org/event/berlin-germany">Random Hacks of Kindness Berlin 2011</a> | <a href="/statistics">{% trans "Statistics" %}</a></p>
<p>{% trans "Built in Berlin" %}</p>
</footer>
{% endblock %}

{% block content %}{% endblock %}
