{% extends 'base.html' %}

{% block body_classes %}class="home"{% endblock %}

{% block content %}

<div class="sell">
    <p>With so many people talking about climate change it can be hard to separate fact from fiction.</p>
    <p>Climate Goggles help you to find the truth from the world's most respected scientists.</p>
</div>

<form method="get" action="{{ target }}">
    <fieldset>
        <legend>Check a theory</legend>
        <label for="q">
            <span>Climate science theory</span>
            <input name="q" required autofocus/>
        </label>
        <input type="submit" value="Search" />
    </fieldset>
</form>

<h2>Popular searches</h2>
<ol>
    {% for query in popular_query %}
    <li><a href="{{ target }}?q={{ query.query }}">{{ query.query }}</a></li>
    {% endfor %}
</ol>
{% endblock %}
